<!-- Profile info -->

<div class ='align-middle'>
  <div class="card mt-5 ml-5 mr-5 p-4">
    <div class="card-body">
      <h5 class="card-title"><%= current_user.first_name %> <%= current_user.last_name %></h5>
      <p class="card-title"><strong>Bio : </strong><%= current_user.description %></p>
      <p class="card-title"><strong>Mail : </strong> <%= current_user.email %></p>
      <p class="card-title"><strong>Profile created on : </strong><%= current_user.created_at.strftime("%d/%m/%Y") %></p>
      <p class="card-text"> <strong>Last update on : </strong><%= current_user.updated_at.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', users_path %>
